<div class="header__secao">
    <a class="header__secao--icone menu">
        <img src="../../../assets/fabars.svg" alt="icone de menu hamburger" class="fa-icon fa-menu">
    </a>
    <a class="header__secao--icone search">
        <img src="../../../assets/fa-search.svg" alt="ícone de busca" class="fa-icon fa-search">
    </a>
    <a class="header__secao--icone">
        <img src="../../../assets/psn-logo.svg" alt="ícone da PlayStation">
    </a>
    <button class="header__secao--button">Iniciar sessão</button>
</div>
