<footer class="footer__container">
    <img src="../../../assets/psn-logo.svg" alt="PlayStation Logo" class="ps__logo">
    <ul class="footer__redes">
        <li><a target="_blank" href="https://github.com/Enyus" class="github">Github</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/c%C3%A1ssio-sandrigo-santini-929451204" class="linkedin">LinkedIn</a></li>
        <li><a target="_blank" href="https://dio.me/users/enyus" class="dio">DIO</a></li>
    </ul>
    <p>@ 2023 Sony Interactive Entertainment Inc.</p>
</footer>
